<strong>New Comment</strong>
<sub>For more information on the syntax of x click <%= link_to "here", "http://daringfireball.net/projects/markdown/syntax#html", :popup => ['dialog name','toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes'] %></sub>
  <%= simple_form_for([@post,@post.comments.build],remote: true, html: {class: 'well'}) do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this posts from being saved:</h2>

        <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <p>
      <% if user_signed_in? %>
        <h3>Pseudonimo: <strong><%=current_user.full_name %></strong></h3>
        <%= f.hidden_field :pseudonimo, :value => current_user.full_name %>
      <%else%>
        <%= f.input  :pseudonimo %>
      <%end %>
    </p>
    <p>
      <%= f.input :mensaje, :input_html => {class: "textarea_cust"} %>
    </p>
    <p>
      <%= f.submit "Save Post"%>
    </p>
  <% end %>