<strong>New Comment</strong>
<sub>For more information on the syntax of x click <%= link_to "here", "http://daringfireball.net/projects/markdown/syntax#html" %></sub>
  <%= simple_form_for([@post,@post.comments.build], html: {class: 'well'}) do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this posts from being saved:</h2>

        <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <p>
      <%= f.input  :pseudonimo %>
    </p>
    <p>
      <%= f.input :mensaje, :input_html => {class: "textarea_cust"} %>
    </p>
    <p>
      <%= f.submit "Save Post"%>
    </p>
  <% end %>