<div class="page-header">
  <h1>Alls of the Posts</h1>
</div>

<%= link_to "New Post", new_post_path, class: "btn btn-primary" %>

<% @posts.each do |posts| %>
  <div class = "pots">
    <h1><strong><%= link_to posts.title, posts %></strong></h1>
    <p><sub>posteado el <%= posts.created_at.strftime("%d-%M, %Y") %></sub></p>
    <p><%= posts.content %></p>
    <div class="meta">
      <%= link_to time_ago_in_words(posts.created_at) + " ago", posts %>
      <% if user_signed_in? %>
        <% if current_user == posts.user %>
          <%= link_to "Edit", edit_post_path(posts) %> 
          <% end %>
      <% end %>
    </div>
  </div>
<% end %>