<p id="notice"><%= notice %></p>
<p>ID = <%= @post.id %></p>
<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<p>
  <%= render @post.comments %>
</p>

<p>
  <%= render "comments/form" %>
</p>

<%= link_to 'Back', posts_path %>
