<div class="row">
  <div class = "span60">
    <div id="fb-root"></div>
    <div id="fb-root"></div>
    <p id="notice"><%= notice %></p>
    <script> 
      FB.init({appId: "384902461586599", status: true, cookie: true});

      function postToFeed() {

        // calling the API ...
        var obj = {
          method: 'feed',
          redirect_uri: "<%= post_url(@post) %>",
          link: 'https://developers.facebook.com/docs/reference/dialogs/',
          picture: 'http://fbrell.com/f8.jpg',
          name: '<%= @post.title %>',
          caption: 'd',
          description: 'Un blog creado para el trainig de Koombea'
        };

        function callback(response) {
          document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
        }

        FB.ui(obj, callback);
      }
    
    </script>
    <div id='fb-root'></div>
    <script src='http://connect.facebook.net/en_US/all.js'></script>
    <p><a onclick='postToFeed(); return false;'>Post to Feed</a></p>
    <p id='msg'></p>
    <p>
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%=@post_url%>" data-via="kdc8510" data-lang="en" data-related="anywhereTheJavascriptAPI">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    </p>
    <p>
      <b>Title:</b>
      <%= @post.title %>
    </p>

    <p>
      <b>Content:</b>
      <%= @post.content %>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=384902461586599";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>



    <p>
      <p>
        <strong>COMMENTS:__________________________________________________________</strong>
      </p>
      <%= render @post.comments %>
    </p>

    <p>
      <%= render "comments/form" %>
    </p>

    <%= link_to 'Back', posts_path %>
  </div>
  <div class= "span30">
    <div class="fb-comments" data-href="http://sywdevelopment.queidea.com" data-num-posts="5" data-width="470" data-colorscheme="dark"></div>
  </div>
</div>
